*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries

/.idea/misc.xml
/.idea/gradle.xml
/.idea/encodings.xml
/.idea/compiler.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/gradle.properties
/build.gradle
/.idea/runConfigurations.xml

.DS_Store
/build
/captures
.externalNativeBuild

